:root, [data-bs-theme=light] {
  --bs-primary: #9054b5;
  --bs-primary-rgb: 144,84,181;
  --bs-primary-text-emphasis: #3A2248;
  --bs-primary-bg-subtle: #E9DDF0;
  --bs-primary-border-subtle: #D3BBE1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9054b5;
  --bs-btn-border-color: #9054b5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7A479A;
  --bs-btn-hover-border-color: #734391;
  --bs-btn-focus-shadow-rgb: 238,229,244;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #734391;
  --bs-btn-active-border-color: #6C3F88;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9054b5;
  --bs-btn-disabled-border-color: #9054b5;
}

.btn-outline-primary {
  --bs-btn-color: #9054b5;
  --bs-btn-border-color: #9054b5;
  --bs-btn-focus-shadow-rgb: 144,84,181;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9054b5;
  --bs-btn-hover-border-color: #9054b5;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9054b5;
  --bs-btn-active-border-color: #9054b5;
  --bs-btn-disabled-color: #9054b5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9054b5;
}

